nodered/flows-library/adsb.json
[
  {
    "id": "adsb-tab",
    "type": "tab",
    "label": "ADS-B (adsb.lol)",
    "disabled": false,
    "info": "Polls the adsb.lol community feed for aircraft within a point + radius and emits one CoT air-track per aircraft.\n\nAPI: https://api.adsb.lol/ — public, no auth, no API key. Built on the readsb/tar1090 ecosystem with crowdsourced ADS-B receivers.\n\n## Why not OpenSky?\n\nOpenSky moved most queries behind OAuth2 in late 2025 and aggressively rate-limits / drops anonymous queries from cloud-provider IP ranges (AWS, GCP, Azure). adsb.lol does not filter by ASN.\n\n## Endpoint\n\n`GET https://api.adsb.lol/v2/point/{lat}/{lon}/{radius}` — returns aircraft within `{radius}` nautical miles of the point. Position units are degrees; altitudes in feet; speeds in knots; course in degrees true. The transform converts to SI (meters / m/s) before passing to the GeoJSON-to-CoT subflow.\n\n## Rate limits\n\nNo published hard limits, but be a good citizen — 15 second poll interval (default) for a single 100nm-radius query is well within reasonable use.\n\n## Default CoT type\n\n`a-n-A-C-F` (neutral / air / civilian / fixed-wing). Override in the subflow instance for friendly (`a-f-A-C-F`), unknown (`a-u-A`), or rotary (`a-n-A-C-H`) tracks."
  },
  {
    "id": "adsb-comment",
    "type": "comment",
    "z": "adsb-tab",
    "name": "Setup",
    "info": "### 1. Import the GeoJSON-to-CoT subflow first\n\nThis flow uses the FastTAK `GeoJSON to CoT` subflow. Import from **Import → Local → fasttak → subflows → geojson-to-cot** if missing.\n\n### 2. Pick a client cert\n\nCreate a data-mode service account (e.g., `svc_adsb`) with the `tak_*` groups that should receive air tracks. Configure **ADS-B Server TLS** with the cert/key paths.\n\n### 3. Set your AO\n\nEdit the **AO** change node:\n  - `lat` / `lon` — center of your area of operations (decimal degrees)\n  - `radius` — search radius in nautical miles\n\nValues are interpolated into the **Fetch states** URL via mustache templates.\n\n### 4. Deploy.",
    "x": 120,
    "y": 40,
    "wires": []
  },
  {
    "id": "adsb-inject",
    "type": "inject",
    "z": "adsb-tab",
    "name": "Every 15s",
    "props": [],
    "repeat": "15",
    "crontab": "",
    "once": true,
    "onceDelay": "5",
    "topic": "",
    "x": 120,
    "y": 120,
    "wires": [["adsb-ao"]]
  },
  {
    "id": "adsb-ao",
    "type": "change",
    "z": "adsb-tab",
    "name": "AO",
    "rules": [
      { "t": "set", "p": "lat", "pt": "msg", "to": "39.7", "tot": "num" },
      { "t": "set", "p": "lon", "pt": "msg", "to": "-104.99", "tot": "num" },
      { "t": "set", "p": "radius", "pt": "msg", "to": "100", "tot": "num" }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 270,
    "y": 120,
    "wires": [["adsb-http"]]
  },
  {
    "id": "adsb-http",
    "type": "http request",
    "z": "adsb-tab",
    "name": "Fetch states",
    "method": "GET",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "https://api.adsb.lol/v2/point/{{lat}}/{{lon}}/{{radius}}",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 460,
    "y": 120,
    "wires": [["adsb-to-geojson"]]
  },
  {
    "id": "adsb-to-geojson",
    "type": "function",
    "z": "adsb-tab",
    "name": "Aircraft → GeoJSON",
    "func": "const body = msg.payload;\nif (!body || !Array.isArray(body.ac)) {\n    node.warn('ADSB.lol: empty or invalid response');\n    return null;\n}\n\nconst FT_TO_M = 0.3048;\nconst KT_TO_MPS = 0.514444;\n\nfunction feature(a) {\n    if (a.lat == null || a.lon == null) return null;\n    const hex = (a.hex || '').trim();\n    const reg = a.r || '';\n    const acType = a.t || '';\n    const squawk = a.squawk || '';\n    const callsign = ((a.flight || '').trim()) || reg || hex || 'AIR';\n    const altFt = a.alt_geom != null ? a.alt_geom\n                : a.alt_baro != null ? a.alt_baro\n                : 0;\n    const altM = altFt * FT_TO_M;\n    const speedKt = a.gs != null ? a.gs : 0;\n    const speedMps = speedKt * KT_TO_MPS;\n    const track = a.track != null ? a.track\n                : a.true_heading != null ? a.true_heading\n                : a.mag_heading != null ? a.mag_heading\n                : 0;\n    return {\n        type: 'Feature',\n        id: hex,\n        geometry: { type: 'Point', coordinates: [a.lon, a.lat, altM] },\n        properties: {\n            callsign,\n            remarks: `ICAO ${hex} | ${reg} ${acType} | ${Math.round(altFt)} ft | ${Math.round(speedKt)} kt | hdg ${Math.round(track)}° | sq ${squawk}`.replace(/\\s+/g, ' ').trim(),\n            altitude: altM,\n            speed: speedMps,\n            course: track\n        }\n    };\n}\n\nconst features = body.ac.map(feature).filter(f => f != null);\nmsg.payload = { type: 'FeatureCollection', features };\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 680,
    "y": 120,
    "wires": [["adsb-to-cot"]]
  },
  {
    "id": "adsb-to-cot",
    "type": "subflow:geojson-to-cot",
    "z": "adsb-tab",
    "name": "GeoJSON → CoT",
    "env": [
      { "name": "COT_TYPE", "value": "a-n-A-C-F", "type": "str" },
      { "name": "UID_PREFIX", "value": "adsb", "type": "str" },
      { "name": "STALE_SECONDS", "value": "60", "type": "num" },
      { "name": "CALLSIGN_PROP", "value": "callsign", "type": "str" },
      { "name": "REMARKS_PROP", "value": "remarks", "type": "str" },
      { "name": "ALTITUDE_PROP", "value": "altitude", "type": "str" },
      { "name": "SPEED_PROP", "value": "speed", "type": "str" },
      { "name": "COURSE_PROP", "value": "course", "type": "str" }
    ],
    "x": 880,
    "y": 120,
    "wires": [["adsb-tak-out"]]
  },
  {
    "id": "adsb-tak-out",
    "type": "tcp out",
    "z": "adsb-tab",
    "name": "TAK Server",
    "host": "tak-server",
    "port": "8089",
    "beserver": "client",
    "base64": false,
    "end": false,
    "tls": "adsb-tls",
    "x": 1080,
    "y": 120,
    "wires": []
  },
  {
    "id": "adsb-tls",
    "type": "tls-config",
    "name": "ADS-B Server TLS",
    "cert": "/data/certs/{svc_user}.cert.pem",
    "key": "/data/certs/{svc_user}.key.pem",
    "ca": "/opt/tak/certs/ca.pem",
    "certname": "",
    "keyname": "",
    "caname": "ca.pem",
    "servername": "${SERVER_ADDRESS}",
    "verifyservercert": true,
    "alpnprotocol": ""
  }
]
